body
{
    background-color:white;
}
.header_div
{
    font-family: 'Amatic SC', cursive;
    background-color: white;
    color: rgb(108, 108, 108);

}

.header_div p
{
    font-family: 'Roboto', sans-serif; 
    color: gray;
    letter-spacing: 2px;
    font-size: 50px;
}

.main_div button
{
    font-family: 'Roboto', sans-serif;
    margin-top: 15px ;
    width: 130px;
    font-weight: bolder;
    letter-spacing:3px ;
}

.copy_right_footer
{
    position:fixed ;
    color:gray ;
    bottom: 0;
    width:100% ;
    font-size: 18px;
    background-color: white;
    line-height: 1.5;
    text-align: center;
    text-shadow: 5px 5px 5px gray;
}